.List {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 15vh 35% 0 35%;
    width: 30%;
    justify-content: center;
    /* border: 2px solid black;   */
}

ul {
    list-style-type: none;
}

.form {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#textBox {
    width: 80%;
    padding: 5px;
}

#submitButton{
    width: 15%;
}

.buttons {
    background-color: #0954b8;
    border-radius: 2px;
    color: #ffffff;
    font-weight: bold;
}
.buttons:hover {
    background-color: #0946b8;
}

.buttons:active {
    background-color: #093978;
}

.ulBox{
    display: flex;
    flex-direction: column;
    width: 100%;
    /* margin: 5px; */
    padding: 0;
    height: 35vh;
    border: 2px solid black;
    border-collapse: collapse;
}

.listItem{
    display: flex;
    justify-content: space-between;
    /* width: 95%; */
    height: 1.5em;
    padding: 5px;
    border-width: 1px 1px 2px 1px;
    border-style: solid;
    border-color: black;
    border-collapse: collapse;
}